.tttTable {
  width: 18.8rem;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  flex-wrap: wrap;
}
.tttCell {
  width: 6rem;
  height: 6rem;
  background-color: gray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}
.tttCell:hover {
  background-color: darkgray;
}
.tttLast {
  opacity: 0.3;
}

.tttWinX {
  background-color: green !important;
}
.tttWinO {
  background-color: red !important;
}
.tttWinX span,
.tttWinO span {
  color: white !important;
  opacity: 1 !important;
}
.tttValueX {
  color: green;
}
.tttValueO {
  color: red;
}
.tttValueX,
.tttValueO {
  cursor: none !important;
}
.tttReset {
  width: 100%;
  height: 3rem;
  margin-top: 3rem;
  background-color: white;
  color: black;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}
